<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Seaweed+Script" rel="stylesheet" <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <img src="images/Capture.png" alt="">
                </div>
                <div class="col-md-9 col-xs-4">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Features</a>
                        </li>
                        <li>
                            <a href="#">Elements</a>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <i class="fas fa-shopping-cart"></i>
                    </ul>
                </div>

            </div>

        </div>

    </nav>
    <section id="section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 icon">
                    <i class="fa fa-cog fa-spin"></i>
                    <div class="col-md-12 main">
                    </div>
                    <h3>
                        Multipurpose Bootstrap Theme
                    </h3>
                    <h1>
                        Made for your next project
                    </h1>
                    <button class="btn btn-default" type="submit">PURCHASE</button>
                    <button class="btn btn-default" type="submit">LEARN MORE</button>

                </div>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fas fa-volleyball-ball"></i>
                    <h3>Free Support</h3>
                    <p>
                        Dynamically productivate reliable action items without an expanded array.
                    </p>
                    <a href="#">Support Info</a>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-cloud-download-alt"></i>
                    <h3>Free Future Updates</h3>
                    <p>Dynamically productivate reliable action items without an expanded array.</p>
                    <a href="#">Getting An Update</a>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-question-circle"></i>
                    <h3>Ask Anything</h3>
                    <p>Dynamically productivate reliable action items without an expanded array.</p>
                    <a href="#">Ask a Question</a>

                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Background Story</h1>
                </div>
                <div class="col-md-5">
                    <img src="images/cup.jpg" alt="">
                    <img src="images/music.jpg" alt="">
                </div>
                <div class="col-md-7">
                    <h2>The Beginning</h2>
                    <p>
                        Completely embrace transparent methods of empowerment before prospective partnerships. Holisticly pontificate user-centric
                        action items rather than worldwide supply chains. Dynamically reintermediate backend core competencies
                        whereas quality interfaces. Monotonectally engage unique internal or "organic" sources rather than
                        virtual expertise. Uniquely develop parallel e-business with 24/7 relationships. Phosfluorescently
                        synthesize innovative web services rather than cooperative.

                    </p>
                    <p>
                        Proactively exploit focused paradigms rather than technically sound solutions. Professionally recaptiualize emerging methods
                        of empowerment with proactive bandwidth. Dramatically supply professional strategic theme.
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section id="section4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>What We Do</h2>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            REVOLUTION SLIDER
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            BEAUTIFUL DESGIN
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            MULTIPURPOSE
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="far fa-thumbs-up"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            FREE UPDATES & SUPPORT
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="fas fa-list-ul"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            TONS OF FEATURES
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-1 col-xs-1">
                        <i class="far fa-star"></i>
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <h5>
                            FLEXIBLE & EASY TO USE
                        </h5>
                        <p>
                            Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through
                            an expanded array of functionalities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Portfolio</h2>
                </div>
                <div class="col-md-4">
                    <img src="images/man.jpg" alt="">
                    <h3>Authoritatively architect future-proof metrics</h3>
                    <p>
                        Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia
                        at.
                    </p>
                    <button class="btn btn-default" type="submit">READ MORE ></button>
                </div>
                <div class="col-md-4">
                    <img src="images/pen.jpg" alt="">
                    <h3>Authoritatively architect future-proof metrics</h3>
                    <p>
                        Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia
                        at.
                    </p>
                    <button class="btn btn-default" type="submit">READ MORE ></button>
                </div>
                <div class="col-md-4">
                    <img src="images/war.jpg" alt="">
                    <h3>Authoritatively architect future-proof metrics</h3>
                    <p>
                        Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia
                        at.
                    </p>
                    <button class="btn btn-default" type="submit">READ MORE ></button>
                </div>
            </div>
        </div>
    </section>
    <section id="section6">
        <div class="container">
            <div class="col-md-12 top">
                <h2>Pricing</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-12 top-col">
                        <h3 class="hedding-top">Basic
                        </h3>
                        <h3 class="hedding-bottom">$25/mo</h3>
                    </div>
                    <div class="col-md-12 bottom-col">
                        <ul>
                            <li>5 GB upload quota</li>
                            <li>10 GB file storage</li>
                            <li>Up to 2 Mbps download speed</li>
                            <li>Unlimited bandwidth</li>
                            <li>Professional support</li>
                        </ul>
                        <button class="btn btn-default" type="submit">SUBSCRIBE</button>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 top-col">
                        <h3 class="hedding-top top">Premium</h3>
                        <h3 class="hedding-bottom">$49/mo</h3>
                    </div>
                    <div class="col-md-12 bottom-col">
                        <ul>
                            <li>5 GB upload quota</li>
                            <li>10 GB file storage</li>
                            <li>Up to 2 Mbps download speed</li>
                            <li>Unlimited bandwidth</li>
                            <li>Professional support</li>
                        </ul>
                        <button class="btn btn-default" type="submit">SUBSCRIBE</button>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="col-md-12 active  ">
                        <h3 class="hedding-top">Pro</h3>
                        <h3 class="hedding-bottom">$99/mo</h3>
                    </div>
                    <div class="col-md-12 bottom-col">
                        <ul>
                            <li>5 GB upload quota</li>
                            <li>10 GB file storage</li>
                            <li>Up to 2 Mbps download speed</li>
                            <li>Unlimited bandwidth</li>
                            <li>Professional support</li>
                        </ul>
                        <button class="btn btn-default" type="submit">SUBSCRIBE</button>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 top-col">
                        <h3 class="hedding-top">Ultimate</h3>
                        <h3 class="hedding-bottom">$150/mo</h3>
                    </div>
                    <div class="col-md-12 bottom-col">
                        <ul>
                            <li>5 GB upload quota</li>
                            <li>10 GB file storage</li>
                            <li>Up to 2 Mbps download speed</li>
                            <li>Unlimited bandwidth</li>
                            <li>Professional support</li>
                        </ul>
                        <button class="btn btn-default" type="submit">SUBSCRIBE</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section7">
        <div class="container">
            <div class="row">
                <div class="col-md-12 top-col">
                    <p class="content-top">"The theme is getting better and better"</p>
                </div>
                <div class="col-md-12 bottom-col">
                    <img src="images/man1.jpg" alt="">
                    <h3>Edward Freeman</h3>
                    <h4>Front End - Freelancer</h4>
                    <p class="content-bottom">
                        For over 5 years, we have been trusted by big companies below
                    </p>
                </div>
                <div class="container logoDiv"></div>
                <div class="col-md-12 logo">
                    <div class="col-md-1"></div>
                    <div class="col-md-2"><img src="images/logo1.png" alt="logo"></div>
                    <div class="col-md-2"><img src="images/logo2.png" alt="logo"></div>
                    <div class="col-md-2"><img src="images/logo3.png" alt="logo"></div>
                    <div class="col-md-2"><img src="images/logo4.png" alt="logo"></div>
                    <div class="col-md-2"><img src="images/logo5.png" alt="logo"></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section id="section8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Subscribe to Bravana Newsletter</h1>
                    <p>Subscribe to the newsletter to get latest news and updates about our product. Preview the latest issue
                        <span>here</span>
                    </p>
                    <input type="email" class="form-control" placeholder="youremail@domain.com  ">
                    <span>
                        <button class="btn btn-default" type="submit">SUBSCRIBE</button>
                    </span>
                </div>
            </div>
            <hr class="lastHr">
        </div>
    </section>
    <section id="section9">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xs-12 rightSide">
                    <ul>
                        <li>
                            <a href="#" class="first">News</a>
                        </li>
                        <li>
                            <a href="#">Press</a>
                        </li>
                        <li>
                            <a href="#">Terms&Privacy</a>
                        </li>
                        <li>
                            <a href="#">We're Hiring</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-12 leftSide">
                    <ul>
                        <li>
                            <a>
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fas fa-wifi"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fab fa-youtube-square"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>©2017 The Develovers. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </section>

</body>

</html>